body {
   color: rgba(0,0,0,0.87);
   font-family: Roboto, Helvetica, Arial, sans-serif;
   margin: 0;
   padding: 0;
 }

/*pタグの上下感覚を調整*/
 p{
   margin-top: 3px;
   margin-bottom: 3px;
 }
 h1{
   font-weight: bolder;
 　font-size: 2.5rem;
 　background: red;}

 #title{
   left: 3%;
   position: absolute;
   font-weight: bolder;
   font-size: 2.5rem;
   background: red;
}

/*メニューバー*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  background: white;
}
li {
	float: left;

}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0px 5px;
	text-decoration: none;
  font-weight: bolder;

}
li a:hover:not(.active) {
	background-color: #ff0000;
}




 .contents{
   /*ここで中央揃えにしてる*/

   margin-left: auto;
   margin-right: auto;
   width: 10%;
   height: auto;
   display: flex;
   flex-direction: column;
 }

 .contents_tytle{

   font-weight: bolder;
   background: red;
   display: flex;
 }

 .image_view{

   background: /*わかりやすくするための確認用*/
 }


 #Day{
   font-size: 2.5rem;
 }

 #img{
   width: 100%;
   height: 100%;
 }
